<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro realizado com sucesso</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;
    family=Poppins:wght@400;600&amp;display=swap">

    <link rel="stylesheet" href="style/partials/page-success.css">
    <link rel="stylesheet" href="style/main.css">

    <script src="/scripts/redirect.js" defer></script>
</head>

<body>
    <div id="container">
        <div id="content">
            <img src="images/icons/success-check-icon.svg" alt="Cadastro realizado com sucesso">
            <h1>Cadastro salvo!</h1>
            <p>Tudo certo. Seu cadastro está na nossa lista de professores.<br>
            Agora é só ficar de olho no seu WhatsApp.</p>
        </div>
    </div>
    
</body>
</html>